.paragraph {
  @extend %paragraph-16;

  will-change: transform;
  white-space: normal;

  strong {
    font-weight: 700;
  }
}

.heading {
  will-change: transform;

  &.xxl {
    @extend %heading-460;
  }
  &.xl {
    @extend %heading-240;
  }
  &.lg {
    @extend %heading-180;
  }
  &.md {
    @extend %heading-140;
  }
}
