.about {
  padding: 4rem 20rem 4rem 0;
  height: 100vh;
  position: relative;

  @include media("<=tablet") {
    height: auto;
    padding: 0 2rem 20rem;
  }

  @include media("<phone") {
    padding: 0 2rem 14rem;
  }

  .bars {
    margin-left: 12rem;

    @include media("<=tablet") {
      margin-left: 0;
    }
  }
}

.about_wrapper {
  display: flex;
  height: 100%;

  @include media("<=tablet") {
    flex-direction: column;
  }
}

.about_content {
  align-items: flex-end;
  display: flex;
  gap: 12rem;

  @include media("<=tablet") {
    align-items: flex-start;
    flex-direction: column;
    gap: 6rem;
  }
}

.about_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.about_headline {
  max-width: 66.2rem;

  @include media("<=tablet") {
    width: 100%;
  }
}

.about_description {
  max-width: 64rem;

  @include media("<=tablet") {
    width: 100%;
  }
}

.about_grid {
  display: flex;
  gap: 8rem;
  height: 100%;

  @include media("<=tablet") {
    flex-direction: column;
    gap: 3rem;
  }
}

.about_grid_column {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:first-child {
    justify-content: space-between;
  }

  &:last-child {
    gap: 6.5rem;
    justify-content: flex-end;

    @include media("<=tablet") {
      gap: 3rem;
    }
  }

  @include media("<=tablet") {
    gap: 3rem;
  }
}

.about_headline_2 {
  max-width: 108.2rem;

  strong {
    color: $color-orange;
  }
}

.about_grid_figure_text {
  align-items: flex-end;
  display: flex;
  gap: 4rem;

  .container {
    width: fit-content;

    @include media("<=tablet") {
      width: 100%;
    }
  }

  @include media("<=tablet") {
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
  }
}

.about_figure {
  @include figure(27.2rem, 42.444rem);

  @include media("<=tablet") {
    @include figure(59rem, 100%);
  }

  @include media("<phone") {
    @include figure(23rem, 100%);
  }
}

.about_background {
  position: absolute;
  z-index: -1;
  left: 58rem;
  top: 0;

  @include media("<=tablet") {
    top: 30rem;
    left: 0;
  }
}

.about_background_figure {
  @include figure(108rem, 200.8rem);

  @include media("<=tablet") {
    @include figure(100rem, 100vw);
  }
}

.about_background_image {
  @extend %image-cover;

  filter: grayscale(100%);
  opacity: 0.15;
}

.about_image {
  @extend %image-cover;
}

.about_descriptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about_description_2 {
  max-width: 50rem;

  @include media("<=tablet") {
    width: 100%;
  }
}

.about_grid_column {
}

.about_description_3,
.about_description_4,
.about_description_5 {
  max-width: 62rem;

  @include media("<=tablet") {
    width: 100%;
  }
}

.about_headline_3 {
  strong {
    color: $color-orange;
  }
}
